{% load static %}
<!DOCTYPE html>
<html lang="en">
  <!-- tab name -->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- <link rel="stylesheet" href="{% static "pico-1.5.9/css/pico.min.css" %}"> -->
    <title>{% block title %} Socialverse {% endblock %}</title>
  </head>
  <!-- tab name end -->

  <!-- stylesheets -->
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
  <link href="{% static 'networkApp/styles.css' %}" rel="stylesheet" />
  <!-- stylesheets end -->

  {% block head %}{% endblock %}

  <!-- navigation bar -->
  <body>
    <!-- navbar position -->
    <nav>
      <!-- navbar item container -->
      <div>
        <ul>
          <li>
            <a href="{% url 'index' %}">Feed</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'following' %}">Following</a>
          </li>
          {% if user.is_authenticated %}
          <li>
            <a href="{% url 'profile' user.username %}"
              ><strong>{{ user.username }}</strong></a
            >
          </li>
          {% endif %}
          <li>
            <a href="{% url 'logout' %}">Log out</a>
          </li>
          {% else %}
          <li>
            <a href="{% url 'login' %}">Log In</a>
          </li>
          <li>
            <a href="{% url 'register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
      <!-- navbar item container end -->
    </nav>
    <!-- navbar position end -->
    <div>{% block body %} {% endblock %}</div>
    <!-- <footer></footer> -->
  </body>
  <!-- navigation bar end -->
</html>
