.body {
  padding: 10px;
  color: black;
}

footer {
  margin-top: auto;
  background-color: black;
  color: white;
  text-align: center;
  padding: 10px;
}

.navbar-custom {
  background-color: black;
}

nav a {
  color: white;
}

nav a:hover {
  color: #c9f0dd;
}

a {
  color: black;
}

a:hover {
  color: #1db954;
}

.my-link {
  color: black !important;
}

.my-link:hover {
  color: #25c488 !important;
}

/* Posts */
.post {
  margin-top: 10px;
}

.post:hover {
  background-color: #5de78d;
}

#new-post-section {
  border-radius: 5px;
  padding: 15px;
  border: 1px solid grey;
  margin-bottom: 15px;
}

.posts-section .post {
  border-radius: 5px;
  padding: 15px;
  border: 1px solid grey;
}

.poster-name {
  font-size: 1.5rem;
}

.my-pagenav {
  margin-top: 10px;
}

.my-pagenav li a {
  background-color: white;
  color: #0c3c26;
}

.my-pagenav li a:hover {
  background-color: #0c3c26;
  color: white;
}

.like-button {
  border-radius: 100px;
}
